* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none;
}    

/*primera seccion del header, 6 cuotas sin interes*/

.cuotasSinInteres span {  
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
/*navbar*/
.contenedorGeneralNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.contenedorGeneralNavbar ul {
    list-style: none; 
}
.menuDesplegableNavbar {
    display: none;
}
.contenedorGeneralNavbar a {
    color: #000000;
    font-weight: 350;
}
.imagenCondorLogoEnNav {
    width: 22%;
}
.imagenCondorLogoEnNav img {
    width: 100%;
}
.contenedorflexlist {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contenedorPrimarioNavbar {
    width: 20%;
}
.contenedorPrimarioNavbar li {
    width: 10%;
    font-size: 90%;
}
.sectorMisCompras {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sectorMisCompras a {
    font-size: 90%;
    margin: 2px;

}

.linkComprasImagen {
    width: 11%;
    padding-top: 0.7vh;
}
.linkComprasImagen img {
    width: 80%;
    margin: 5%;
}
/*carrusel*/
.carrusel img {
width: 100%;
}
/*banner de producto destacado solo en index posterior al carrusel*/
.bannerProductoDescatado {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.productoImagenDestacada {
    width: 55%;
}
.productoImagenDestacada img{
    width: 100%;
}
.productotextodestacado {
    height: 30vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.productotextodestacado a {
    background-color: #000000;
    color: #FFFFFF;
    padding: 5%;
}
/*imagen banner presentacion de pages*/
.imagenBannerPresentacionPages img {
    width: 100%;
}
/*Contenedor general de las cards de productos*/
.contenedorGeneralProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
    
}
.titulocentrado {
    text-align: center;
}
/*Contenedor primario = contenedor basico de las cards de productos */    
.contenedorPrimarioProductos {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.contenedorPrimarioProductos img {
    width: 27vw;    
}
.contenedorPrimarioProductos a { 
color:#FFFFFF;
}    
.contenedorPrimarioProductos button{
    background-color: #000000;;
    border: 0px;

}
/*contenedor Dos Imagenes Secciones en Index*/
.tama単oimagensecciones {
    width: 40vw;
}
.contenedorDosImagenesSecciones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 8vh;
    margin-top: 8vh;
}
.imagenesSeccionesIndex {
    position: relative;
}
.textoDentroDeImagenesSecciones {
    position: absolute;
    top: 45%;
    left: 40%;
    backdrop-filter: brightness(60%);
    text-align: center;

}
.textoDentroDeImagenesSecciones a{
    color:#FFFFFF 
}

/*contenedor de 3 columnas previo al footer*/
.imagenFondoPrevioFooter {
    width: 100%;
}
.contenedorMacroDeImagenPreviaAlFooter {
    position: relative;
    margin-bottom: 8vh;
    margin-top: 8vh;
}
.ContenedorColumnasPrevioFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    position: absolute;
    top: 37%;
    width: 100%;
}
.tama単oLogosPrevioFooter {
    width: 5vw;
}
.contenedorPrimarioPrevioFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*footer*/
.contenedorGeneralFooter{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 220px; 
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contenedorGeneralFooter a {
    color: #FFFFFF;
}
.contenedorGeneralFooter ul {
    list-style: none;
}
.contenedorPrimarioFooter { 
    width: 25%; 
    margin: 40px;
    height: 150px;
} 
.contenedorPrimarioFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
/*PAGES NOSOTROS*/
.borcegosNosotrosTama単o {
    width: 35vw;
}
.posicionBorcegosNosotros {
    position: relative;
    top: 12vh;
}
.contenedorGeneralNosotros {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.presentacionNosotros {
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.botonEnNosotros {
    text-decoration: none;
    background-color:#000000;
    border: 0;
    padding: 1vw;
}
.botonEnNosotros a {
    color:#FFFFFF;    
}
/*PAGES CONTACTO*/
.contenedorFormularioGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContenedorContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.botonEnContacto {
    background-color: #000000;
    color: #FFFFFF;
    border: 0;
    padding: 1vw;
}

@media screen and (max-width: 768px) {
    /*navbar*/
    .cuotasSinInteres span {
        height: 3vh;
        font-size: 127%;
    }
    .contenedorGeneralNavbar {
        height: 15vh;
        justify-content: space-evenly;
    }
    .imagenCondorLogoEnNav img {
        width: 150%;
    }
    .contenedorflexlist {
        display: flex;
        flex-direction: column;
        margin-right: 4px;
    }
    .sectorMisCompras {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .linkComprasImagen {
        width: 30%;
    }
    .contenedorPrimarioNavbar {
        font-size: 170%;
    }
    .sectorMisCompras a {
        font-size: 140%;
        margin: 2px;
        text-align: center;
    }
    /*banner producto destacado*/
    .bannerProductoDescatado {
        margin-top: 5vh;
        justify-content: space-evenly;
    }
    .productoImagenDestacada {
        width: 45vw;
    }
    .productoImagenDestacada img {
        width: 45vw;
    }
    .productotextodestacado {
        width: 45vw;
    }
    .productotextodestacado h3, .productotextodestacado p, .productotextodestacado a {
        font-size: 130%;
    }
    .productotextodestacado a {
        background-color: #000000;
        color: #FFFFFF;
        padding: 5%;
    }
    /*grilla productos*/
    .titulocentrado {
        font-size: 150%;
        margin-bottom: 5vh;
    }
    .contenedorTotalProductos{
        margin-top: 5vh;
    }
    .contenedorGeneralProductos {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .contenedorPrimarioProductos {
        height: 40vh;
    }
    .contenedorPrimarioProductos img{
        width: 40vw;
    }
    .contenedorDosImagenesSecciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
    .contenedorDosImagenesSecciones img{
        width: 70vw;
    }
    .contenedorPrimarioProductos button{
        background-color: #000000;;
        border: 0px;
    }
    /*PAGES NOSOTROS*/
    .borcegosNosotrosTama単o {
        width: 65vw;
    }
    .posicionBorcegosNosotros {
        position: relative;
        top: auto;
    }
    .contenedorGeneralNosotros {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .presentacionNosotros {
        width: 75vw;
        height: 94vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 150%;
        margin-bottom: 4vh;
    }
    .botonEnNosotros {
        text-decoration: none;
        background-color:#000000;
        border: 0;
        padding: 1vw;
        font-size: 85%;
        margin-top: 2vh;
    }
    /*PAGES CONTACTO*/
.contenedorFormularioGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContenedorContacto h3 {
    font-size: 3.0vw;
    text-align: center;
    margin-bottom: 3vh;
}
.mainContenedorContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.contenedorFormularioGeneral input, .contenedorFormularioGeneral label {
    font-size: 2.5vw;
}
.botonEnContacto {
    background-color: #000000;
    color: #FFFFFF;
    border: 0;
    padding: 1vw;
}

.mapa {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vh;
}
.mapa h3 {
    font-size: 3.0vw;
}
}